{
	"printWidth": 120,
	"useTabs": true,
	"arrowParens": "avoid",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
